<div class="mt-2">
    <div class="container">
        <a href="">
            <h1>{{tintuc.title}}</h1>
        </a>
        <img src="{{tintuc.image}}" alt="" class="" style="width: 1070px; height: 500px;">
        <p>{{tintuc.content}}</p>
    </div>
</div>