<div class="mt-4 container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Giới thiệu chung</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Hội đồng quản trị và ban lãnh đạo</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p><b>Công ty Cổ phần Đầu tư Mua bán đồ điện tử (MWG)</b> là nền tảng bán
                lẻ
                đa ngành nghề số 1 Việt Nam
                về doanh thu và lợi nhuận.

                Với chiến lược omni-channel, Công ty vận hành mạng lưới hàng ngàn cửa hàng trên toàn quốc song song với
                việc tận dụng hiểu biết sâu rộng về khách hàng thông qua nền tảng dữ liệu lớn, năng lực chủ động triển
                khai các hoạt động hỗ trợ bán lẻ được xây dựng nội bộ và liên tục đổi mới công nghệ nhằm tạo ra trải
                nghiệm khách hàng vượt trội và thống nhất ở mọi kênh cũng như nâng cao sự gắn kết của người tiêu dùng
                với các thương hiệu của MWG.

                Trong hệ sinh thái của MWG, ngoài các công ty con chuyên vận hành chuỗi bán lẻ (thegioididong.com, Điện
                Máy Xanh, Bách Hóa Xanh, nhà thuốc An Khang...) còn có các công ty chuyên cung cấp dịch vụ có liên quan
                như dịch vụ hậu mãi - bảo trì - lắp đặt, dịch vụ giao hàng chặng cuối, dịch vụ quản lý kho vận
                logistics, mảng phân phối sản phẩm nông nghiệp an toàn 4KFarm...Công ty cũng mở rộng kinh doanh ra thị
                trường nước ngoài với liên doanh bán lẻ điện máy tại Indonesia.</p>

            <li>MWG tập trung xây dựng dịch vụ khách hàng khác biệt với chất lượng vượt trội, phù hợp với văn hoá
                đặt khách hàng làm trung tâm trong mọi suy nghĩ và hành động của công ty. 3 thương hiệu lớn của MWG
                đều nằm trong top 50 thương hiệu giá trị nhất Việt Nam (The Brand Finance).</li>

            <li>MWG nhiều năm liền có tên trong các bảng xếp hạng danh giá như TOP 500 nhà bán lẻ hàng đầu Châu Á – Thái
                Bình Dương (Retail Asia), TOP 50 công ty kinh doanh hiệu quả nhất Việt Nam (Nhịp Cầu Đầu Tư), TOP 50
                công ty niêm yết tốt nhất Châu Á của tạp chí uy tín Forbes… Sự phát triển của MWG cũng là một điển hình
                tốt được nghiên cứu tại các trường Đại học hàng đầu như Harvard, UC Berkeley, trường kinh doanh Tuck
                (Mỹ).</li>
            <li>MWG vinh dự khi là đại diện Việt Nam duy nhất trong Top 100 nhà bán lẻ hàng đầu Châu Á – Thái Bình Dương
                do Tạp chí bán lẻ châu Á (Retail Asia) và Tập đoàn nghiên cứu thị trường Euromonitor bình chọn.</li>
            <li>Không chỉ là một doanh nghiệp hoạt động hiệu quả được nhìn nhận bởi nhà đầu tư và các tổ chức đánh giá
                chuyên nghiệp, MWG còn được người lao động tin yêu khi liên tiếp được vinh danh trong TOP 50 Doanh
                nghiệp có môi trường làm việc tốt nhất Việt Nam và là doanh nghiệp xuất sắc nhất tại giải thưởng Vietnam
                HR Awards – “Chiến lược nhân sự hiệu quả”.</li>

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
                <div class="col-sm-6">
                    <p><b>GVHD: </b>Đỗ Ngọc Điệp</p>
                    <p><b>Học hàm, học vị: </b>Thạc sĩ</p>
                    <p><b>Khoa: </b>Công nghệ thông tin</p>
                </div>
                <div class="col-sm-6">
                    <p><b>Sinh viên thực hiện: </b>Nguyễn Hùng Mạnh</p>
                    <p><b>Mã sinh viên: </b>1351020136</p>
                    <p><b>Khoa: </b>Công nghệ thông tin</p>
                    <p><b>Lớp: </b>CNTT 13-03</p>
                </div>
            </div>
        </div>
    </div>
</div>