<div class="container mt-4" style="background-color: ghostwhite;">

    <h2>GỬI CÂU HỎI CỦA BẠN</h2>
    <form>
        <div class="row form-group">
            <label class="col-sm-3" for="name"><i class="fa-solid fa-user"></i> Họ và Tên(*):</label>
            <input type="text" class="col-sm-9 form-control" name="name" value="" size="100" placeholder="Họ và tên">
        </div>

        <div class="row form-group">
            <label class="col-sm-3" for="email"><i class="fa-solid fa-envelope"></i> Email(*) :</label>
            <input type="email" class="col-sm-9 form-control" name="email" placeholder="Email">
        </div>

        <div class="row form-group">
            <label class="col-sm-3" for="phone"><i class="fa-solid fa-phone-volume"></i> Số điện thoại(*) :</label>
            <input type="email" class="col-sm-9 form-control" name="phone" placeholder="Số điện thoại">
        </div>
        <form action="#">
            <h5>Bạn là:</h5>
            <div class="row">
                <div class="col-sm">
                    <input name="" type="radio" value=""> Khách hàng
                </div>
                <div class="col-sm">
                    <input name="" type="radio" value=""> Nhân viên
                </div>
                <div class="col-sm">
                    <input name="" type="radio" value=""> Chủ đầu tư
                </div>
            </div>
        </form>
        <div class="mt-4 row form-group">
            <label class="col-sm-3" for="phone"><i class="fa-solid fa-city"></i> Đơn vị công tác:</label>
            <input type="email" class="col-sm-9 form-control" name="phone" placeholder="Đơn vị công tác">
        </div>
        <div class="row form-group">
            <label class="col-sm-3" for="content"><i class="fa-solid fa-file-lines"></i> Nội dung câu hỏi(*) :</label>
            <textarea class="col-sm-9 form-control" name="content" placeholder="Nội dung"></textarea>
        </div>
    </form>
</div>
<form class="container">
    <button type="submit" class="btn btn-lg btn-block" style="background-color: gold;">GỬI CÂU HỎI</button>
</form>